/* Common Command */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.hidden{
  display: none;
}
.flex{
  display: flex;
}
a{
  text-decoration: none;
}
.column{
  flex-direction: column;
}
.btn{
  border: 2px solid #fff;
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.column{
  flex-direction: column;
}
/* End Common Command */

/* Start Header */
.container-sale{
  background-color: rgb(148, 19, 46);
  padding: 15px 0;
  text-align: center;
}
.container-sale span{
  font-size: 20px;
  color: #fff;
}
.container-sale a{
  color: rgb(255, 213, 128);
}
.container-header{
  background-color: rgb(16, 16, 16);
}
.general-information{
  text-align: end;
  font-size: 12px;
}
.general-information,
nav{
  width: 80%;
  margin: auto;
  background-color: rgb(16, 16, 16);

}
.general-information li{
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  padding: 10px 0 10px 0;
}
.general-information i{
  padding: 0 10px 0 10px;
  color: rgb(13, 131, 211);
  font-size: 15px;
  vertical-align: middle;
}
.general-information a{
  color: rgb(132, 131, 132);
}
.general-information .language{
  background-color: #fff;
  padding: 3px;
  border-radius: 2px;
  color: #000;
}
.language i{
  padding: 0 5px 0 20px;
  font-size: 14px;
  color: #000;
}
.language a{
  color: #000;
}
.general-information a:hover{
  text-decoration: underline;
  color: #fff;
}
.language a:hover{
  text-decoration: none;
  color: #000;
}
nav ul li{
  display: inline-block;
  color: #fff;
  padding: 10px 20px 20px 20px;
}
#logo img{
  width: 100%;
}
#logo{
  width: 180px;
  margin-top: 5px;
  margin-right: 10px;
}
nav ul li a{
  color: #fff;
  vertical-align: sub;
}
nav ul li  a i{
  vertical-align: middle;
}
.product{
  position: relative;
}
.hr-title{
  padding: 0px;
}

.menu-product,
.menu-support,
.menu-more{
  width: 200px;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #f1f1f1;
}
.support .menu-support{
  width: 220px;
}
.product:hover .menu-product{
  display: block;
}
.arrow-right{
  text-align: end;
  width: 15%;
  display: inline-block;
}
.arrow-right i{
  vertical-align: middle;
}
.creative:hover .arrow-right i,
.graphic:hover .arrow-right i,
.license:hover .arrow-right i{
  color: gray;
}
.menu-product li,
.menu-creative li,
.menu-tecnic li,
.menu-more li,
.menu-support li{
  width: 100%;
}
.menu-product li a,
.menu-creative li a,
.menu-tecnic li a{
  display: inline-block;
  width: 80%;
}
.menu-product li a i,
.menu-creative li a i,
.menu-tecnic li a i,
.menu-product li a,
.menu-creative li a,
.menu-tecnic li a{
  vertical-align: middle;
}
.creative:hover .menu-creative,
.graphic:hover .menu-tecnic,
.license:hover .menu-license,
.support:hover .menu-support,
.more:hover .menu-more{
  display: block;
}
.creative,
.graphic,
.license,
.more,
.support{
  position: relative;
}
.menu-creative,
.menu-tecnic,
.menu-license{
  position: absolute;
  left: 100%;
  top: 0%;
  background-color: #e6e6e6;
  width: 360px;
}
nav li:hover{
  background-color: #f1f1f1;
}
.menu-product li:hover,
.menu-support li:hover,
.menu-more li:hover{
  background-color: #e6e6e6;
}
.menu-creative li:hover,
.menu-tecnic li:hover,
.menu-license li:hover{
  background-color: #d6d6d6;
}
.menu-creative .title-submenu:hover{
  background-color: #e6e6e6;
}
.title-submenu{
  color: gray;
  font-size: 12px;
  font-weight: 600;

}
.menu-license{
  width: 530px;
}
.product:hover .rotate,
.support:hover .rotate,
.more:hover .rotate{
  transform: rotate(180deg);
}
.rotate{
  transition: all 1s;
}
.menu-product li a,
.menu-support li a,
.menu-more li a{
  color: #000;
}
.menu-product i{
  color: gray;
}
.menu-product li{
  padding-right: 0px;
}
.menu-creative li a,
.menu-license li a{
  width: 100%;
}
/* End Header */

/* Start Main */
.left{
  width: 50%;
  background-color: rgb(13, 11, 38);
}
.right{
  width: 50%;
  background-color: rgb(13, 11, 38);
}
.left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 110%;
}
.content{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  color: #fff;
  padding-bottom: 40px;
}
.btn span i{
  margin-left: 15px;
}
h3{
  margin: 10px 0 20px 0;
}
.star{
  margin-left: 10px;
  width: 70px;
  vertical-align: middle;
}
.counter-star{
  font-size: 11px;
  vertical-align: middle;
}
.linee{
  width: 100%;
  height: 1px;
  background-color: rgb(62, 60, 82);
  margin: 30px 0px 20px 0;
}
.options,
.button-options{
  justify-content: space-between;
}
.options h5{
  color: #D9D9D9;
  font-size: 15px;
}
.options a{
  color: #D9D9D9;
  margin-right: 10px;
  font-weight: 100;
  font-size: 14px;
}
.big-btn{
  border: 1px solid #707070;
  width: 48%;
  border-radius: 3px;
  text-align: center;
  margin-top: 15px;
}
.btn-rt{
  margin-right: 10px;
  padding: 20px 0 40px 0;
  background-color: rgb(39, 39, 39, 22%);
}
.btn-lt{
  padding: 10px 0 40px 0;
  background-color: #223942;
  border: 2px solid #009CFF;
}
.big-btn h5{
  color: rgb(23, 167, 255);
  margin-bottom: 5px;
}
.content p{
  font-size: 14px;
  margin-top: 10px;
  font-weight: 200;
  color: #D9D9D9;
}
.buying{
  width: 100%;
  justify-content: space-between;
}
p span{
  color: #fff;
  font-weight: 500;
}
.lt{
  font-size: 13px;
  font-weight: 300;
  margin-top: 20px;
  width: 48%;
}
.rt{
  width: 48%;
  margin-top: 50px;
  padding-left: 20px;
  position: relative;
  font-size: 13px;
}
.rt span{
  padding-top: 5px;
}
.rt span:first-child{
  font-size: 16px;
}
strong{
  font-size: 25px;
  font-weight: 500;
}
strong span{
  font-size: 13px;
}
.medium-btn{
  width: 100%;
  background-color: #009cff;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
  margin: 15px 0;
}
.buying a{
  margin-top: 7px;
  color: #fff;
}
.rt::after{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 70px;
  background-color:rgb(62, 60, 82);
}