/* Common Command */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.hidden{
  display: none;
}
.flex{
  display: flex;
}
a{
  text-decoration: none;
}
.column{
  flex-direction: column;
}
.btn{
  border: 2px solid #fff;
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.column{
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}
.hidden{
  display: none;
}
/* End Common Command */

/* Start Header */
.dropdown>i{
  display: none;
}
.container-sale{
  background-color: rgb(148, 19, 46);
  padding: 15px 0;
  text-align: center;
}
.container-sale span{
  font-size: 20px;
  color: #fff;
}
.container-sale a{
  color: rgb(255, 213, 128);
}
.container-header{
  background-color: rgb(16, 16, 16);
}
.general-information{
  text-align: end;
  font-size: 12px;
}
.general-information,
nav{
  width: 80%;
  margin: auto;
  background-color: rgb(16, 16, 16);

}
.general-information li{
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  padding: 10px 0 10px 0;
}
.general-information i{
  padding: 0 10px 0 10px;
  color: rgb(13, 131, 211);
  font-size: 15px;
  vertical-align: middle;
}
.general-information a{
  color: rgb(132, 131, 132);
}
.general-information .language{
  background-color: #fff;
  padding: 3px 5px;
  border-radius: 2px;
  color: #000;
  position: relative;
}
.submenu-language{
  position: absolute;
  left: 0;
  display: none;
}
.language i{
  padding: 0;
  margin-left: 10px;
  font-size: 14px;
  color: #000;
}
.language a{
  color: #000;
}
.language:hover .submenu-language{
  display: block;
  background-color: #fff;
  text-align: left;
  margin-top: 5px;
}
.submenu-language li{
  padding-left: 5px;
  width: 100%;
}
.submenu-language li:hover{
  background-color: #e6e6e6;
}
.general-information a:hover{
  text-decoration: underline;
  color: #fff;
}
.language a:hover{
  text-decoration: none;
  color: #000;
}
nav ul li{
  display: inline-block;
  color: #fff;
  padding: 10px 20px 20px 20px;
}
#logo img{
  width: 100%;
}
#logo{
  width: 180px;
  margin-top: 5px;
  margin-right: 10px;
}
nav ul li a{
  color: #fff;
  vertical-align: sub;
}
nav ul li  a i{
  vertical-align: middle;
}
.hr-title{
  padding: 0px;
}

.menu-product,
.menu-support,
.menu-more{
  width: 200px;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #f1f1f1;
}
.support .menu-support{
  width: 220px;
}
.product:hover .menu-product{
  display: block;
}
.arrow-right{
  text-align: end;
  width: 15%;
  display: inline-block;
}
.arrow-right i{
  vertical-align: middle;
}
.creative:hover .arrow-right i,
.graphic:hover .arrow-right i,
.license:hover .arrow-right i{
  color: gray;
}
.menu-product li,
.menu-creative li,
.menu-tecnic li,
.menu-more li,
.menu-support li{
  width: 100%;
}
.menu-product li a,
.menu-creative li a,
.menu-tecnic li a{
  display: inline-block;
  width: 80%;
}
.menu-product li a i,
.menu-creative li a i,
.menu-tecnic li a i,
.menu-product li a,
.menu-creative li a,
.menu-tecnic li a{
  vertical-align: middle;
}
.creative:hover .menu-creative,
.graphic:hover .menu-tecnic,
.license:hover .menu-license,
.support:hover .menu-support,
.more:hover .menu-more{
  display: block;
}
.creative,
.graphic,
.license,
.more,
.support,
.product{
  position: relative;
}
.menu-creative,
.menu-tecnic,
.menu-license{
  position: absolute;
  left: 100%;
  top: 0%;
  background-color: #e6e6e6;
  width: 360px;
}
nav li:hover{
  background-color: #f1f1f1;
}
.menu-product li:hover,
.menu-support li:hover,
.menu-more li:hover{
  background-color: #e6e6e6;
}
.menu-creative li:hover,
.menu-tecnic li:hover,
.menu-license li:hover{
  background-color: #d6d6d6;
}
.menu-creative .title-submenu:hover{
  background-color: #e6e6e6;
}
.title-submenu{
  color: gray;
  font-size: 12px;
  font-weight: 600;

}
.menu-license{
  width: 530px;
}
.product:hover .rotate,
.support:hover .rotate,
.more:hover .rotate,
.language:hover .rotate{
  transform: rotate(180deg);
}
.rotate{
  transition: all 1s;
}
.menu-product li a,
.menu-support li a,
.menu-more li a{
  color: #000;
}
.menu-product i{
  color: gray;
}
.menu-product li{
  padding-right: 0px;
}
.menu-creative li a,
.menu-license li a{
  width: 100%;
}
.product:hover a,
.support:hover a,
.more:hover a,
.menu-dropdown li:hover .menu-dropdown li>a{
  color: #000;
}
/* End Header */

/* Start Main */
.container{
  background-color: rgb(13, 11, 38);
}
.left{
  width: 50%;
  background-color: rgb(13, 11, 38);
}
.right{
  width: 50%;
  background-color: rgb(13, 11, 38);
}
.left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 110%;
}
.content{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  color: #fff;
  padding-bottom: 40px;
}
.btn span i{
  margin-left: 15px;
}
h3{
  margin: 10px 0 20px 0;
}
.star{
  margin-left: 10px;
  width: 70px;
  vertical-align: middle;
}
.counter-star{
  font-size: 11px;
  vertical-align: middle;
}
.linee{
  width: 100%;
  height: 1px;
  background-color: rgb(62, 60, 82);
  margin: 30px 0px 20px 0;
}
.options,
.button-options{
  justify-content: space-between;
}
.options h5{
  color: #D9D9D9;
  font-size: 15px;
}
.options a{
  color: #D9D9D9;
  margin-right: 10px;
  font-weight: 100;
  font-size: 14px;
}
.big-btn{
  border: 1px solid #707070;
  width: 48%;
  border-radius: 3px;
  text-align: center;
  margin-top: 15px;
}
.btn-rt{
  margin-right: 10px;
  padding: 20px 0 40px 0;
  background-color: rgb(39, 39, 39, 22%);
}
.btn-lt{
  padding: 10px 0 40px 0;
  background-color: #223942;
  border: 2px solid #009CFF;
}
.big-btn h5{
  color: rgb(23, 167, 255);
  margin-bottom: 5px;
}
.content p{
  font-size: 14px;
  margin-top: 10px;
  font-weight: 200;
  color: #D9D9D9;
}
.buying{
  width: 100%;
  justify-content: space-between;
}
p span{
  color: #fff;
  font-weight: 500;
}
.lt{
  font-size: 13px;
  font-weight: 300;
  margin-top: 20px;
  width: 48%;
}
.rt{
  width: 48%;
  margin-top: 50px;
  padding-left: 20px;
  font-size: 13px;
  border-left: 1px solid rgb(62, 60, 82);
  height: 70px;
}
.rt span{
  padding-top: 5px;
}
.rt span:first-child{
  font-size: 16px;
}
strong{
  font-size: 25px;
  font-weight: 500;
}
strong span{
  font-size: 13px;
}
.medium-btn{
  width: 100%;
  background-color: #009cff;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
  margin: 15px 0;
}
.buying a{
  margin-top: 7px;
  color: #fff;
}
.content a:hover{
  text-decoration: underline;
}
.btn-rt:hover{
  background-color: rgba(39, 39, 39, 0.70);
  border: 1px solid #A6A6A6;
  cursor: pointer;
}
.btn:hover{
  opacity: 0.8;
}
.medium-btn:hover{
  filter: brightness(1.1);
}
.update{
  text-align: center;
  padding: 20px 0;
  font-weight: 800;
  background-color: rgb(50, 201, 152);
  color: rgb(51, 51, 51);
}
.update a{
  color: rgb(51, 51, 51);
  text-decoration: underline;
}
.update a:hover{
  text-decoration: none;
}
/* End Main */

/* Start MediaQuery */
@media screen and (max-width: 1074px) {
  .general-information, nav{
    width: 100%;
    padding-left: 10px;
  }
  #logo{
    width: 150px;
  }
  .left{
    width: 30%;
  }
  .left img{
    object-position: 100%;
  }
  .right{
    width: 70%;
  }
}

@media screen and (max-width: 767px) {
  .container-sale{
    display: none;
  }
  .container-header,
  .menu-dropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container-header{
    flex-direction: column-reverse;
    position: relative;
  }
  nav{
    flex-direction: column;
    align-items: center;
  }
  .menu-product,
  .menu-creative,
  .menu-tecnic,
  .menu-license,
  .support .menu-support,
  .menu-more{
    width: 100%;
    position: static;
  } 
  nav{
    padding-left: 0;
  }
  nav ul li{
    padding: 10px 0px;
  }
  nav ul li>a{
    padding: 10px 0px 20px 20px;
  }
  .menu-product{
    margin-top: 10px;
  }
  .menu-product li a,
  .menu-support li a,
  .menu-more li a,
  .title-submenu{
    padding: 10px 0px 20px 30px;
  }
  .menu-creative li a,
  .menu-tecnic li a,
  .menu-license li a{
    padding: 0px 0px 20px 40px;
  }
  .hr-title{
    display: none;
  }
  nav li{
    border-bottom: 1px solid #292929;
  }
  .graphic,
  .license,
  .creative{
    border-bottom: 1px solid #d7d7d7;
  }
  .menu-creative li,
  .menu-tecnic li,
  .menu-license li{
    border-bottom: 1px solid #d7d7d7
  }
  .menu-creative,
  .menu-license,
  .menu-tecnic{
    background: #dfdfdf;
  }
  .product{
    border-top: 1px solid #292929;
  }
  #logo{
    padding: 10px 0;
  }
  .dropdown>i{
    display: block;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .dropdown{
    width: 100%;
  }
  .dropdown .menu-dropdown{
    display: none;
  }
  .general-information{
    display: none;
  }
  .dropdown:hover .menu-dropdown{
    display: flex;
  }
  .container-main{
    display: block;
  }
  .left{
    width: 100%;
    height: 200px;
  }
  .right{
    width: 100%;
  }
  .content{
    padding: 0 20px;
    width: 100%;
    margin-top: 0;
  }
  .btn,
  .linee,
  .options h5,
  .options a{
    display: none;
  }
  .button-options{
    justify-content: left;
  }
  .btn-lt,
  .btn-rt{
    margin-right: 10px;
    width: 30%;
  }
  .hidden{
    display: block;
  }
  .star{
    margin-left: 0;
  }
  .entry{
    display: none;
  }
  .buying{
    display: block;
    padding-bottom: 30px;
  }
  .lt,
  .rt{
    width: 100%;
  }
  .rt{
    border: 1px solid rgb(62, 60, 82);
    margin-top: 30px;
  }
  .rt a{
    text-decoration: underline;
  }
}