/* Common Command */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}
.hidden{
  display: none;
}
.flex{
  display: flex;
}
a{
  text-decoration: none;
}
.column{
  flex-direction: column;
}
.btn{
  border: 2px solid #fff;
  padding: 10px 16px;
  display: inline-block;
  cursor: pointer;
  text-align: center;
}
.column{
  flex-direction: column;
}
.wrap{
  flex-wrap: wrap;
}
.hidden{
  display: none;
}
li{
  list-style: none;
}
.float{
  float: left;
}
/* End Common Command */

/* Start Header */
.dropdown>i{
  display: none;
}
.container-sale{
  background-color: rgb(148, 19, 46);
  padding: 15px 0;
  text-align: center;
}
.container-sale span{
  font-size: 20px;
  color: #fff;
}
.container-sale a{
  color: rgb(255, 213, 128);
}
.container-header{
  background-color: rgb(16, 16, 16);
}
.general-information{
  text-align: end;
  font-size: 12px;
}
.general-information,
nav{
  width: 80%;
  margin: auto;
  background-color: rgb(16, 16, 16);

}
.general-information li{
  list-style: none;
  display: inline-block;
  margin-right: 15px;
  padding: 10px 0 10px 0;
}
.general-information i{
  padding: 0 10px 0 10px;
  color: rgb(13, 131, 211);
  font-size: 15px;
  vertical-align: middle;
}
.general-information a{
  color: rgb(132, 131, 132);
}
.general-information .language{
  background-color: #fff;
  padding: 3px 5px;
  border-radius: 2px;
  color: #000;
  position: relative;
}
.submenu-language{
  position: absolute;
  left: 0;
  display: none;
}
.language i{
  padding: 0;
  margin-left: 10px;
  font-size: 14px;
  color: #000;
}
.language a{
  color: #000;
}
.language:hover .submenu-language{
  display: block;
  background-color: #fff;
  text-align: left;
  margin-top: 5px;
}
.submenu-language li{
  padding-left: 5px;
  width: 100%;
}
.submenu-language li:hover{
  background-color: #e6e6e6;
}
.general-information a:hover{
  text-decoration: underline;
  color: #fff;
}
.language a:hover{
  text-decoration: none;
  color: #000;
}
nav ul li{
  display: inline-block;
  color: #fff;
  padding: 10px 20px 20px 20px;
}
#logo img{
  width: 100%;
}
#logo{
  width: 180px;
  margin-top: 5px;
  margin-right: 10px;
}
nav ul li a{
  color: #fff;
  vertical-align: sub;
}
nav ul li  a i{
  vertical-align: middle;
}
.hr-title{
  padding: 0px;
}

.menu-product,
.menu-support,
.menu-more{
  width: 200px;
  position: absolute;
  left: 0;
  top: 50px;
  background-color: #f1f1f1;
}
.support .menu-support{
  width: 220px;
}
.product:hover .menu-product{
  display: block;
}
.arrow-right{
  text-align: end;
  width: 15%;
  display: inline-block;
}
.arrow-right i{
  vertical-align: middle;
}
.creative:hover .arrow-right i,
.graphic:hover .arrow-right i,
.license:hover .arrow-right i{
  color: gray;
}
.menu-product li,
.menu-creative li,
.menu-tecnic li,
.menu-more li,
.menu-support li{
  width: 100%;
}
.menu-product li a,
.menu-creative li a,
.menu-tecnic li a{
  display: inline-block;
  width: 80%;
}
.menu-product li a i,
.menu-creative li a i,
.menu-tecnic li a i,
.menu-product li a,
.menu-creative li a,
.menu-tecnic li a{
  vertical-align: middle;
}
.creative:hover .menu-creative,
.graphic:hover .menu-tecnic,
.license:hover .menu-license,
.support:hover .menu-support,
.more:hover .menu-more{
  display: block;
}
.creative,
.graphic,
.license,
.more,
.support,
.product{
  position: relative;
}
.menu-creative,
.menu-tecnic,
.menu-license{
  position: absolute;
  left: 100%;
  top: 0%;
  background-color: #e6e6e6;
  width: 360px;
}
nav li:hover{
  background-color: #f1f1f1;
}
.menu-product li:hover,
.menu-support li:hover,
.menu-more li:hover{
  background-color: #e6e6e6;
}
.menu-creative li:hover,
.menu-tecnic li:hover,
.menu-license li:hover{
  background-color: #d6d6d6;
}
.menu-creative .title-submenu:hover{
  background-color: #e6e6e6;
}
.title-submenu{
  color: gray;
  font-size: 12px;
  font-weight: 600;

}
.menu-license{
  width: 530px;
}
.product:hover .rotate,
.support:hover .rotate,
.more:hover .rotate,
.language:hover .rotate{
  transform: rotate(180deg);
}
.rotate{
  transition: all 1s;
}
.menu-product li a,
.menu-support li a,
.menu-more li a{
  color: #000;
}
.menu-product i{
  color: gray;
}
.menu-product li{
  padding-right: 0px;
}
.menu-creative li a,
.menu-license li a{
  width: 100%;
}
.product:hover a,
.support:hover a,
.more:hover a,
.menu-dropdown li:hover a{
  color: #000;
}
/* End Header */

/* Start Main */
.container{
  background-color: rgb(13, 11, 38);
}
.left{
  width: 50%;
  background-color: rgb(13, 11, 38);
}
.right{
  width: 50%;
  background-color: rgb(13, 11, 38);
}
.left img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: 110%;
}
.content{
  width: 80%;
  margin: auto;
  margin-top: 50px;
  color: #fff;
  padding-bottom: 40px;
}
.btn span i{
  margin-left: 15px;
}
h3{
  margin: 10px 0 20px 0;
}
.star{
  margin-left: 10px;
  width: 70px;
  vertical-align: middle;
}
.counter-star{
  font-size: 11px;
  vertical-align: middle;
}
.linee{
  width: 100%;
  height: 1px;
  background-color: rgb(62, 60, 82);
  margin: 30px 0px 20px 0;
}
.options,
.button-options{
  justify-content: space-between;
}
.options h5{
  color: #D9D9D9;
  font-size: 15px;
}
.options a{
  color: #D9D9D9;
  margin-right: 10px;
  font-weight: 100;
  font-size: 14px;
}
.big-btn{
  border: 1px solid #707070;
  width: 48%;
  border-radius: 3px;
  text-align: center;
  margin-top: 15px;
}
.btn-rt{
  margin-right: 10px;
  padding: 20px 0 40px 0;
  background-color: rgb(39, 39, 39, 22%);
}
.btn-lt{
  padding: 10px 0 40px 0;
  background-color: #223942;
  border: 2px solid #009CFF;
}
.big-btn h5{
  color: rgb(23, 167, 255);
  margin-bottom: 5px;
}
.content p{
  font-size: 14px;
  margin-top: 10px;
  font-weight: 200;
  color: #D9D9D9;
}
.buying{
  width: 100%;
  justify-content: space-between;
}
p span{
  color: #fff;
  font-weight: 500;
}
.lt{
  font-size: 13px;
  font-weight: 300;
  margin-top: 20px;
  width: 48%;
}
.rt{
  width: 48%;
  margin-top: 50px;
  padding-left: 20px;
  font-size: 13px;
  border-left: 1px solid rgb(62, 60, 82);
  height: 70px;
}
.rt span{
  padding-top: 5px;
}
.rt span:first-child{
  font-size: 16px;
}
strong{
  font-size: 25px;
  font-weight: 500;
}
strong span{
  font-size: 13px;
}
.medium-btn{
  width: 100%;
  background-color: #009cff;
  text-align: center;
  padding: 10px 0;
  font-size: 18px;
  cursor: pointer;
  margin: 15px 0;
}
.buying a{
  margin-top: 7px;
  color: #fff;
}
.content a:hover{
  text-decoration: underline;
}
.btn-rt:hover{
  background-color: rgba(39, 39, 39, 0.70);
  border: 1px solid #A6A6A6;
  cursor: pointer;
}
.btn:hover{
  opacity: 0.8;
}
.medium-btn:hover{
  filter: brightness(1.1);
}
.update{
  text-align: center;
  padding: 20px 0;
  font-weight: 800;
  background-color: rgb(50, 201, 152);
  color: rgb(51, 51, 51);
}
.update a{
  color: rgb(51, 51, 51);
  text-decoration: underline;
}
.update a:hover{
  text-decoration: none;
}
.navbar-main li{
  display: inline-block;
  padding: 18px 10px;
}
.navbar-main a{
  color: #000;
  padding: 18px 10px;
}
.navbar-main{
  align-items: center;
  justify-content: center;
  background-color: rgb(230, 230, 230);
  position: sticky;
  top: 0;
  z-index: 9999;
}
.here{
  border-bottom: 3px solid black;
}
.navbar-main li:hover{
  background-color: rgb(240, 240, 240);
}
.content-section{
  text-align: center;
  background: linear-gradient( #c35a4e 0%, #ae4c59 30%, #701148 100%);
  padding-top: 70px;
}
.content-section p{
  width: 70%;
  margin: auto;
  line-height: 25px;
  margin-top: 20px;
}
.content-section h1,
.content-section p{
  color: #fff;
}
.content-section h1{
  font-size: 35px;
  font-weight: 500;
}
.content-img{
  width: 80%;
  margin: auto;
  position: relative;
  margin-top: 70px;
  font-size: 0; 
}
.content-img img{
  width: 100%;
}
.play{
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  width: 150px;
  height: 150px;
  opacity: 0.8;
}
.play:hover{
  transform: translate(-50%, -50%) scale(1.1);
  opacity: 1;
}
.row-icon{
  justify-content: center;
  background: linear-gradient(#171717, #080808, #000);
  padding-bottom: 70px;
}
.icon{
  color: #fff;
  align-items: center;
  text-align: center;
  width: 30%;
}
.icon img{
  width: 120px;
  height: 120px;
  margin: 70px 0 30px 0;
}
.icon p{
  width: 70%;
  margin: 20px auto;
  line-height: 25px;
  font-size: 18px;
}
.icon p a{
  color: #fff;
  text-decoration: underline;
}
.icon p a:hover{
  text-decoration: none;
}
.section-struments{
  background-color: rgb(239, 239, 239);
  padding-bottom: 50px;
}
.struments{
  text-align: center;
}
.struments h2{
  font-size: 45px;
  font-weight: 400;
  width: 90%;
  margin: auto;
  padding: 100px 0;
  color: rgb(51, 51, 51);
}
li .icon{
  width: 70px;
}
.all-struments{
  border-bottom: 1px solid rgb(214, 213, 213);
  margin-bottom: 20px;
  flex-wrap: wrap;
  justify-content: center;
}
li h5{
  color: rgb(107, 106, 106);
  padding-top: 10px;
  font-weight: 500;
}
.tools img{
  border: 21px solid black;
  border-radius: 20px;
  width: 100%;
  box-shadow: 0 5px 15px #a5a3a3;
  margin-bottom: 80px;
}
.tools,
.struments,
.marketing,
.company,
.advantages,
.content-rewiev{
  width: 80%;
  margin: auto;
}
.tools p{
  width: 90%;
  margin: auto;
  line-height: 25px;
  padding-bottom: 20px;
}
.all-struments li{
  padding: 20px 40px;
  position: relative;
}

.active::before{
  content: "";
  position: absolute;
  top: 138px;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: green;
}
.struments .medium-btn{
  font-size: 14px;
  margin: auto;
  background-color: #a8a8a8;
  color: #fff;
  padding: 10px 20px;
}
.information li{
  list-style: disc;
  text-align: start;
  line-height: 25px;
  margin-left: 40px;
  margin-bottom: 10px;
}
.information h4{
  font-size: 23px;
  font-weight: 400;
  text-align: start;
  padding-bottom: 10px;
}
.document,
.content-coreldraw{
  margin-left: 20px;
}
.principal-app,
.content-coreldraw{
  width: 48%;
  margin-top: 50px ;
}
.document{
  margin-top: 70px;
}
.information a{
  color: #009cff;
}
.information a:hover{
  text-decoration: underline;
}
.information::after{
  content: "";
  display: table;
  clear: both;
}
.general{
  display: inline-block;
}
.general:hover .information{
  display: block;
}
.all-struments>li{
  cursor: pointer;
}
.all-struments>li:hover h5{
  color: #000;
}
.active h5{
  color: #000;
}
.left-mk{
  width: 30%;
  margin-top: 100px;
}
.left-mk li{
  border-bottom: 1px solid rgb(132, 131, 132);
  padding: 10px 0;
  font-size: 17px;
}
.left-mk li>p{
  display: none;
}
.left-mk li a{
  color: rgb(51, 51, 51);
  font-weight: 600;
  vertical-align: middle;
  display: inline-block;
  width: 90%;
}
.left-mk h3{
  font-size: 42px;
  font-weight: 400;
  color: rgb(37, 37, 37);
}
.left-mk>p{
  border-bottom: 1px solid rgb(132, 131, 132);
  padding-bottom: 50px;
}
.left-mk i{
 color: #707070;
 transition: 1s;
}
.left-mk ul>li:hover p{
  display: block;
}
.left-mk li p{
  padding: 10px 0;
}
.left-mk ul>li:hover i{
  transform: rotate(45deg);
}
.left-mk ul>li:hover a{
  color: #000;
  text-decoration: underline;
}
.marketing{
  background-image: url(https://www.coreldraw.com/static/cdgs/product_content/cdgs/2021/branding.jpg);
  background-size: cover;
  background-position: 50% 100%;
  margin-bottom: 50px;
}
.company,
.advantages{
  text-align: center;
  margin: 150px auto;
}
.row{
  justify-content: space-around;
  margin: 50px 0;
}
.icon-container{
  width: 20%;
}
.icon-container img{
  width: 100%;
}
.plus img{
  width: 60%;
  display: block;
  margin: 10px auto;
}
.plus span{
  line-height: 25px;
}
.company h4,
.advantages h4{
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 10px;
}
.company span,
.advantages>span{
  font-size: 18px;
}
.rewiev{
  background: linear-gradient(0.25turn, #fed536 0%, #f77d31 100%);
  padding-bottom: 50px;
}
.testimonial{
  font-size: 42px;
  padding: 80px 100px 0 100px;
  font-weight: 600;
}
.author,
.content-rewiev a{
  display: block;
}
.content-rewiev i{
  font-size: 40px;
  position: absolute;
  color: rgb(92, 89, 81);
  cursor: pointer;
}
.content-rewiev .fa-chevron-right{
  top: 50%;
  right: 50px;
}
.content-rewiev .fa-chevron-left{
  top: 50%;
  left: 50px;
}
.content-rewiev a{
  text-decoration: underline;
  color: #333;
  font-size: 16px;
}
.content-rewiev{
  text-align: center;
  position: relative;
}
.content-rewiev   img{
  width: 50px;
  border-radius: 3px;
  margin-bottom: 10px;
}
.author{
  padding: 30px 0;
  font-size: 20px;
}
.testimonial:before{
  content: "“";
  font-size: 70px;
}
.testimonial::after{
  content: "”";
  font-size: 70px;
}
.content-rewiev i:hover{
  color: #292929;
}
.content-rewiev a:hover{
  text-decoration: none;
}
.company .icon-container img:hover{
  transform: scale(1.2);
  cursor: pointer;
}
/* End Main */

/* Start MediaQuery */
@media screen and (max-width: 1074px) {
  .general-information, nav{
    width: 100%;
    padding-left: 10px;
  }
  #logo{
    width: 150px;
  }
  .left{
    width: 30%;
  }
  .left img{
    object-position: 100%;
  }
  .right{
    width: 70%;
  }
  .left-mk{
    width: 100%;
    padding-top: 200px;
  }
  .marketing{
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 95%;
    display: block;
  }
}

@media screen and (max-width: 767px) {
  .container-sale{
    display: none;
  }
  .container-header,
  .menu-dropdown{
    display: flex;
    flex-direction: column;
    width: 100%;
  }
  .container-header{
    flex-direction: column-reverse;
    position: relative;
  }
  nav{
    flex-direction: column;
    align-items: center;
  }
  .menu-product,
  .menu-creative,
  .menu-tecnic,
  .menu-license,
  .support .menu-support,
  .menu-more{
    width: 100%;
    position: static;
  } 
  nav{
    padding-left: 0;
  }
  nav ul li{
    padding: 10px 0px;
  }
  nav ul li>a{
    padding: 10px 0px 20px 20px;
  }
  .menu-product{
    margin-top: 10px;
  }
  .menu-product li a,
  .menu-support li a,
  .menu-more li a,
  .title-submenu{
    padding: 10px 0px 20px 30px;
  }
  .menu-creative li a,
  .menu-tecnic li a,
  .menu-license li a{
    padding: 0px 0px 20px 40px;
  }
  .hr-title{
    display: none;
  }
  nav li{
    border-bottom: 1px solid #292929;
  }
  .graphic,
  .license,
  .creative{
    border-bottom: 1px solid #d7d7d7;
  }
  .menu-creative li,
  .menu-tecnic li,
  .menu-license li{
    border-bottom: 1px solid #d7d7d7
  }
  .menu-creative,
  .menu-license,
  .menu-tecnic{
    background: #dfdfdf;
  }
  .product{
    border-top: 1px solid #292929;
  }
  #logo{
    padding: 10px 0;
  }
  .dropdown>i{
    display: block;
    font-size: 30px;
    color: #fff;
    position: absolute;
    top: 10px;
    left: 20px;
  }
  .dropdown{
    width: 100%;
  }
  .dropdown .menu-dropdown{
    display: none;
  }
  .general-information{
    display: none;
  }
  .dropdown:hover .menu-dropdown{
    display: flex;
  }
  .dropdown:hover .information-menu-hamburgher{
    display: block;
  }
  .information-menu-hamburgher li{
    display: block;
    border: none;
  }
  .information-menu-hamburgher{
    width: 100%;
  }
  .information-menu-hamburgher>ul{
    margin-left: 10px;
  }
  .information-menu-hamburgher li i{
  margin-right: 10px;
  color: rgb(13, 131, 211);
  }
  .information-menu-hamburgher .language .rotate{
    color: #000;
  }
  .information-menu-hamburgher .language{
    display: inline-block;
    margin-left: 20px;
    margin-bottom: 20px; 
    margin-top: 10px;
    background-color: #fff;
    font-size: 12px;
    padding: 0;
  }
  .information-menu-hamburgher a{
    color: rgb(132, 131, 132);
  }
  .information-menu-hamburgher .language a{
    color: #000;
    padding: 0 5px;
  }
  .information-menu-hamburgher .language i{
    margin-left: 20px;
    margin-right: 0;
  }
  .information-menu-hamburgher li:hover{
    background-color: transparent;
  }
  .submenu-language{
    position: static;
    width: 150px;
  }
  .information-menu-hamburgher .language:hover{
    background-color: #fff;
    width: 78px;
  }
  .language:hover .submenu-language{
    margin-top: 0;
    border-top: 1px solid black;
  }
  .container-main{
    display: block;
  }
  .left{
    width: 100%;
    height: 200px;
  }
  .right{
    width: 100%;
  }
  .content{
    padding: 0 20px;
    width: 100%;
    margin-top: 0;
  }
  .btn,
  .linee,
  .options h5,
  .options a{
    display: none;
  }
  .button-options{
    justify-content: left;
  }
  .btn-lt,
  .btn-rt{
    margin-right: 10px;
    width: 30%;
  }
  .content .text{
    display: block;
  }
  .star{
    margin-left: 0;
  }
  .entry{
    display: none;
  }
  .buying{
    display: block;
    padding-bottom: 30px;
  }
  .lt,
  .rt{
    width: 100%;
  }
  .rt{
    border: 1px solid rgb(62, 60, 82);
    margin-top: 30px;
  }
  .rt a{
    text-decoration: underline;
  }
  .row-icon{
    flex-direction: column;
  }
  .icon p{
    width: 100%;
    margin: 0;
  }
  .icon{
    width: auto;
    text-align: start;
    flex-direction: row;
    padding: 50px 0;
  }
  .icon img{
    margin: 0 80px;
    width: 80px;
    height: 80px;
  }
  .content-icon{
    margin-right: 20px;
  }
  .navbar-main{
    font-size: 12px;
  }
  .play{
    width: 100px;
    height: 100px;
  }
  .menu-support,
  .menu-more{
    margin: 10px 0 0 0;
  }
  .content-img{
    width: 100%;
  }
  .struments h2{
    font-size: 25px;
    width: 100%;
    padding: 50px 0;
  }
  .all-struments li{
    width: 100%;
    text-align: start;
    padding: 0;
  }
  .all-struments .icon{
    width: 30px;
    vertical-align: middle;
    padding: 0;
    margin: 0 10px 10px 0;
  }
  .all-struments h5{
    display: inline-block;
    padding: 0;
  }
  .tools,
  .tools p{
    width: 100%;
  }
  .active:before{
    width: 0;
  }
  .tools img{
    border: none;
    border-radius: 5px;
  }
  .struments>.tools{
    display: none;
  }
  li .tools{
    display: block;
  }
  .struments ul{
    border: none;
  }
  .principal-app,
  .content-coreldraw,
  .document{
    float: none;
    width: 100%;
  }
  .content-coreldraw,
  .document{
    margin: 0;
  }
  .information li{
    font-size: 12px;
    font-weight: 300;
  }
  .general{
    width: 100%;
  }
  .company,
  .advantages,
  .struments{
    width: 90%;
  }
  .company h4,
  .advantages h4{
    font-size: 30px;
  }
  .company span,
  .advantages>span{
    font-size: 15px;
  }
  .row{
    justify-content: space-between;
    flex-wrap: wrap;
  }
  .icon-container{
    width: 45%;
    margin-bottom: 40px;
  }
  .content-rewiev p,
  .testimonial:after,
  .testimonial:before{
    font-size: 22px;
  }
  .author{
    font-size: 15px;
  }
  .content-rewiev{
    width: 95%;
  }
  .content-rewiev i{
    font-size: 30px;
  }
  .content-rewiev .fa-chevron-right{
    right: 5%;
  }
  .content-rewiev .fa-chevron-left{
    left: 5%;
  }
  .testimonial{
    padding: 80px 80px 0 80px;
  }
}
@media screen and (max-width: 500px){
  .navbar-main{
    font-size: 15px;
  }
  .navbar-main ul li{
    display: none;
  }
  .navbar-main .here{
    display: block;
  }
  .play{
    width: 80px;
    height: 80px;
  }
  .general .medium-btn{
    font-size: 10px;
  }
  .icon img{
    margin: 0 30px;
  }
  .struments{
    width: 80%;
  }
}